POSTGRES_DB=radar_goiano
POSTGRES_USER=radar_admin
POSTGRES_PASSWORD=gere-uma-senha-longa-e-exclusiva
API_DB_USER=radar_api
API_DB_PASSWORD=gere-outra-senha-longa-e-exclusiva
DB_STATEMENT_TIMEOUT_MS=30000
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=5
CLOUDFLARE_TUNNEL_TOKEN=cole-o-token-do-tunnel
CORS_ORIGINS=https://seudominio.com.br
ALLOWED_HOSTS=seudominio.com.br,localhost,127.0.0.1
