altair==6.0.0
annotated-doc
annotated-types
anyio
attrs==25.4.0
blinker==1.9.0
cachetools==6.0.0
certifi
charset-normalizer==3.4.4
click
colorama
dnspython
email-validator
fastapi
fastapi-cli
gitdb==4.0.12
GitPython==3.1.46
greenlet==3.3.2
h11
httpcore
httptools
httpx
idna
Jinja2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py
MarkupSafe
mdurl
narwhals==2.17.0
numpy==2.4.2
packaging
pandas==2.3.3
pillow==12.1.1
plotly==6.6.0
protobuf==6.33.5
psycopg2-binary==2.9.11
pyarrow==23.0.1
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck==0.9.1
Pygments
python-dateutil==2.9.0.post0
python-dotenv
python-multipart
pytz==2026.1.post1
PyYAML
referencing==0.37.0
requests==2.32.5
rich
rich-toolkit
rpds-py==0.30.0
scikit-learn
shellingham
six==1.17.0
smmap==5.0.2
SQLAlchemy==2.0.48
starlette
streamlit==1.55.0
tenacity==9.1.4
toml==0.10.2
tornado==6.5.4
typer==0.20.0
typer-slim==0.20.0
typing-inspection
typing_extensions
tzdata==2025.3
urllib3==2.6.3
uvicorn
watchdog==6.0.0
watchfiles
websockets
